doctype html
html
    head
        meta(charset="UTF-8")
        title My PRO Services
        link(rel='styelsheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap', type='text/css')
        style
            include style.css
    body 
        div.container
            h1 Sign in with your Google Account
            h2 To The Best App - How To Get More Followers on Instagram
            img.google(src="http://pngimg.com/uploads/google/google_PNG19642.png" alt="Google Images")
            a.confirm(href="/auth/google") Sign in