doctype html
html
    head
        meta(charset="UTF-8")
        link(rel='styelsheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap', type='text/css')
        title="Logged with Google Account"
        style
            include ./style.css
    body
        div.container-logged
            h1 Congrutalations! #{user.displayName}
            p You are logged with your Google Account 
            p Have Fun with Our App
            img.google(src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Cartoon_Robot.svg/512px-Cartoon_Robot.svg.png" alt="Login Success Images")